@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Sora';
    src: url('assets/font/Sora-Regular.ttf');
}

*{
    font-family: 'Sora';
}
html,body{
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
}
